<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Using Resque queues with NodeJS + Redis + Socket.io</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/cron-picker.css">


    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div id="dasapp">
        <div class="container-xl">
            <div class="conreq" id="header">
                <header class="py-3 border-1 border-bottom conreq">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="d-flex flex-row align-items-center">
                                <h2 class="me-3">Monitor</h2>
                                <span class="text-muted">A <span class="text-pink">cute</span> visualizing of
                                    job-queue</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="d-flex flex-row align-items-center justify-content-end">
                                <button class="conreq btn btn-outline-primary me-2" data-bs-toggle="modal"
                                data-bs-target="#CreateJobsModel">Create Job</button>
                                <!-- Modal -->
                                <div class="modal fade" id="CreateJobsModel" tabindex="-1"
                                    aria-labelledby="CreateJobsModelLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="CreateJobsModelLabel">Enter Job inforamtion</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <label for="Sname">Subject name :</label><br>
                                                    <input type="text" id="Sname" name="Sname" value=""
                                                        class="form-control"> <br>
                                                        <input type="radio" id="JustNow" name="Job" value="JustNow">
                                                        <label for="JustNow">Create Job one time</label><br><br>
                                                        <input type="radio" id="JS" name="Job">
                                                        <label for="JS">Job scheduling</label><br><br>
                                                    <input type="text" id="JobS" name="trip-start" placeholder="Should be in Cron format" 
                                                        class="form-control">
                                                        <br> 
                                                    <br><br>
                                                </form>
                                            </div>
                                            <div class="modal-footer">

                                                <button class="form-control" onclick="AddJob()">
                                                    Add Job
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="conreq btn btn-outline-danger" id="clearBtn">Clear</button>
                            </div>
                        </div>
                    </div>
                </header>

                <nav class="navbar" style="background-color: #f2f2f2;">
                    <div class="container-xl">
                        <div
                            class="stats w-100 d-flex flex-row align-items-center align-content-center justify-content-center">
                            <div class="stats-item text-center text-secondary px-4">
                                <i class="d-block mb-1 bi bi-hourglass"></i>
                                <span>Waiting</span>
                                <strong class="d-block" data-stats-waiting>-1</strong>
                            </div>
                            <div class="stats-item text-center text-primary px-4">
                                <i class="d-block mb-1 bi bi-check"></i>
                                <span>Completed</span>
                                <strong class="d-block" data-stats-completed>-1</strong>
                            </div>
                            <div class="stats-item text-center text-success px-4 me-2">
                                <i class="d-block mb-1 bi bi-terminal"></i>
                                <span>Running</span>
                                <strong class="d-block" data-stats-active>-1</strong>
                            </div>
                            <div class="stats-item text-center text-warning px-4 me-2">
                                <i class="d-block mb-1 bi bi-pause-btn"></i>
                                <span>Paused</span>
                                <strong class="d-block" data-stats-paused>-1</strong>
                            </div>
                            <div class="stats-item text-center text-info px-4 me-2">
                                <i class="d-block mb-1 bi bi-clock-history"></i>
                                <span>Delayed</span>
                                <strong class="d-block" data-stats-delayed>-1</strong>
                            </div>
                            <div class="stats-item text-center text-danger px-4 me-2">
                                <i class="d-block mb-1 bi bi-x-circle"></i>
                                <span>Failed</span>
                                <strong class="d-block" data-stats-failed>-1</strong>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <!-- Loading -->
            <div id="connecting" class="vh-100 text-center">
                <div class="d-flex h-100 justify-content-center align-items-center flex-column">
                    <div id="loader" class="spinner-border text-secondary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>

                    <div class="mt-3">
                        <h5 data-loading-header></h5>
                        <p data-loading-description></p>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <main class="conreq">
                <div class="jobs-log h-100">
                    <div class="jobs-log-inner h-100">
                        <div class="jobs-log-item" data-log-waiting></div>
                        <div class="jobs-log-item" data-log-completed></div>
                        <div class="jobs-log-item" data-log-active></div>
                        <div class="jobs-log-item" data-log-paused></div>
                        <div class="jobs-log-item" data-log-delayed></div>
                        <div class="jobs-log-item" data-log-failed></div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <!-- <div class="container">
            <div class="page-header">
                <h2>Visualizing Resque usage using Node.js, Websockets and Redis</h2>
            </div><br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                <h3 class="panel-title">Connect to your Redis Instance</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-success">Connection established! Fetching data...</div>
                    <div class="alert alert-danger"></div>
                    <p class="text-muted"><small><b>Note: </b>No credentials are persisted on the server</small></p>
                    <form id="conn_form" role="form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-9">
                                    <label>Host</label>
                                    <input type="text" id="conn_host" name="conn_host" class="form-control" placeholder="e.g. yourapp.9554.servers.com" />
                                </div>
                                <div class="col-sm-3">
                                    <label>Port</label>
                                    <input type="text" id="conn_port" name="conn_port" class="form-control" placeholder="e.g. 6379" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" id="conn_password" name="conn_password" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="form-group text-right">
                        <button type="submit" id="btn_connect" class="btn btn-primary">Connect</button>
                        <button type="button" id="btn_reset" class="btn btn-link">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid main-graphs-area">
            <div class="row">
                <div class="col-sm-6">
                    <div id="container_pie_total_tasks_across_queues" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                </div>
                <div class="col-sm-6">
                    <div id="container_bar_total_tasks_across_queues" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                </div>
            </div><hr />
            <div class="row">
                <div class="col-sm-6">
                    <div id="container_worker_jobs_histogram" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                </div>
                <div class="col-sm-6">
                    <div id="container_worker_jobs_pie" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                </div>
            </div>
        </div> -->
    <!-- <div class="container">
            <h1>Using Resque queues with NodeJS + Redis + Socket.io</h1>
            <pre id="console_logs"></pre>
            <div class="ranges-area">
                <div class="range-single range-q1">
                    <h4>Queue 1</h4>
                    <input type="text" id="q1_slider_val" /><br />
                    <input type="range" id="q1_slider" orient="vertical" value="0" min="-1" max="20" />
                </div>
                <div class="range-single range-q2">
                    <h4>Queue 2</h4>
                    <input type="text" id="q2_slider_val" /><br />
                    <input type="range" id="q2_slider" orient="vertical" value="0" min="-1" max="20" />
                </div>
                <div class="range-single range-q3">
                    <h4>Queue 3</h4>
                    <input type="text" id="q3_slider_val" /><br />
                    <input type="range" id="q3_slider" orient="vertical" value="0" min="-1" max="20" />
                </div>
                <div class="range-single range-q4">
                    <h4>Queue 4</h4>
                    <input type="text" id="q4_slider_val" /><br />
                    <input type="range" id="q4_slider" orient="vertical" value="0" min="-1" max="20" />
                </div>
                <div class="clear"></div>
            </div>
        </div> -->
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highstock/5.0.11/highstock.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="js/cron-picker.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
