html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bs-light);
}

.conreq {
    display: none;
}

.connected .conreq {
    display: block;
}

.text-pink {
    color: deeppink;
}

.stats {
}

.stats-item {
    cursor: pointer;
}

.stats-item .bi {
    font-size: 32px;
}

.stats-item span {
    font-size: 13px;
}

.stats-item strong {
    font-size: 15px;
}

main {
    overflow: hidden;
}

.jobs-log {
}

.jobs-log-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
    gap: 4px;
}

.jobs-log-inner .jobs-log-item {
    height: 100%;
    overflow-x: auto;
    position: relative;
    flex: 1 1 auto;
    align-self: auto;
    padding: 12px;
    background: white;
}

.job {
    position: relative;
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-200);
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

.job .job-title {
    position: relative;
    z-index: 1;
}

.job .job-pause {
    position: relative;
    z-index: 1;
}
.job .job-progress {
    position: absolute;
    background-color: #cbcdcb9c;
    height: 100%;
    margin: -12px;
}

/*.container {
    width: 960px;
    margin: 0 auto;
}*/

#console_logs {
    height: 300px;
    max-height: 300px;
    display: block;
    overflow: auto;
    background-color: #eaeaea;
    padding: 0em 1em;
}

input[type="range"][orient="vertical"] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.ranges-area {
    margin: 0 auto;
    width: 85%;
}

.range-single {
    float: left;
    padding: 0 7%;
    padding-bottom: 5%;
    margin-right: 3%;
    text-align: center;
}

.range-single input[type="text"] {
    width: 30px;
    margin-bottom: 1em;
}

.active {
    background-color: #f3f3f3;
}

.panel-footer {
    padding-top: 15px;
    padding-bottom: 2px;
}

.alert-danger,
.alert-success,
.main-graphs-area {
    display: none;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
